.carrossel__titulo {
  color: var(--text-color);
  background: var(--cor-fundo-header);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1em 0 0.5em 0;
}
